body{
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,25,1) 35%, rgba(1,238,247,0.2446020644585959) 100%, rgba(0,212,255,1) 100%);
}
.contact_container{
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,23,1) 18%, rgba(0,212,255,1) 89%, rgba(1,238,247,0.2446020644585959) 100%);
padding : 4rem;
display: grid;
grid-template-columns: 40% 60%;
grid-gap: 4rem;
height: 30rem;
margin: 7rem auto;
border-radius: 1rem;
}
/*----aside------*/
.contact_aside{
  background: linear-gradient(0deg, rgba(18,203,55,1) 0%, rgba(18,139,87,1) 100%);
  padding: 3rem;
  border-radius: 1rem;
  position: relative;
  bottom: 6rem;
}
.asideImg{
  width:12rem;
  margin-bottom: 2rem;
}
.contact_aside h2{
  text-align: left;
  margin-bottom: 1rem;
}
.contact_aside p{
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
/*.contact_details li{
  display: flex;
  gap:1rem;
  text-align: center;
  margin-bottom: 1rem;
}*/
.contact_details h5{

  font-size: 0.9rem;
}
.contactSocials{
  display: flex;
  gap:1rem;
  margin-top: 1.5rem;
}
.contactSocials a{
  background: var(--color-black);
  border-radius: 50%;
  padding:0.5rem;
  font-size: 0.9rem;

}
.contactSocials a:hover{
  background: transparent;
  transition: var(--transition);
}

/*---form------*/
.contactForm{
  display: flex;
  flex-direction: column;
  gap:1.2rem;
  margin-right: 4rem;
}
.formName{
display: flex;
gap:1.2rem;
}
.contactForm input[type="text"] {
width:50%;

}
input, textarea{

width: 100%;
background: var(--color-white);
}
.contactForm .btn{
  width:max-content;
  cursor: pointer;
  margin-top: 1rem;

}

/*-----media query for tablets-----*/
@media screen and (max-width:1024px){
  footer{
    margin-bottom: 0;
  }
  .contact_container{
    gap:1.5rem;
    margin-top: 3rem;
    height: auto;
    padding: 1.5rem;
  }
  .contact_aside{
    width:auto;
    padding:1.5rem;
    bottom:0;
  }
  .contact_details{
    padding: 0.2rem;
  }
  .contact_details h5{
    font-size: 0.6rem;
  }
  .asideImg{
    width: auto;
  }
  .contact_aside  h2 {
    font-size: 1.2rem;
  }
  .contact_aside  p {
    font-size: 0.9rem;
  }
  .contactForm{
    align-self: center;
    margin-right: 1.5rem;
  }

}
@media screen and (max-width:630px) {
.contact_container{
  grid-template-columns: 1fr;
  gap:3rem;
  padding: 0.2rem;
}
.contact_details h5{

  font-size: 0.8rem;
}
.contactForm{
  margin:0 1.5rem 3rem;
}
.formName{
  flex-direction: column;
}
.formName input[type="text"] {
width: 100%;
}

}
